@font-face {
  font-family: Rogan;
  src: url(Rogan-Regular.otf);
}
@font-face {
  font-family: Rogan-Bold;
  src: url(Rogan-Bold.otf);
}

:root {
  --available-color: #155724;
  --unavailable-color: #ff0019;
}
body {
  font-family: Rogan, "Times New Roman", Times, serif, sans-serif;
}
.drug-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  margin-top: 10px;
  font-size: 0.9rem;
  min-width: 580px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.drug-table thead tr {
  background-color: #003366;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.drug-table th,
.drug-table td {
  padding: 12px 15px;
}

.drug-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.drug-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.drug-table tbody tr:last-of-type {
  border-bottom: 2px solid #003366;
}

.status-available {
  background-color: #d4edda;
  color: #155724;
}
.status-unavailable {
  background-color: var(--unavailable-color);
  color: #dddddd;
}
.drug-table tbody tr.unavailable {
  background-color: pink !important;
  opacity: 0.5;
}
.card-body {
  color: #003366;
  width: max-content;
}
.form-control {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 2px solid #003366;
  border-radius: 5px;
  height: 35px;
  width: 580px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rogan, "Times New Roman", Times, serif;
  font-size: 12pt;
}

.drug-name {
  font-family: Rogan-Bold, "Times New Roman", Times, serif, sans-serif;
  font-weight: bolder;
}
.trade-name {
  margin-top: 1px;
  font-size: smaller;
  font-family: Rogan, "Times New Roman", Times, serif, sans-serif;
  font-weight: lighter;
}
.title-text {
  margin-bottom: 5px;
}
.no-data-message {
  text-align: center;
  font-style: italic;
  color: #666;
}
.no-data-image {
  opacity: 0.5;
  width: 80px;
  float: center;
  margin-bottom: 1px;
  margin-left: 28px;
}
.loader {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #003366;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 200px;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#info-bar {
  color: #003366;
  font-size: small;
  margin: 3px;
}

.available-number {
  color: var(--available-color);
}
.unavailable-number {
  color: var(--unavailable-color);
}
.available-number,
.unavailable-number {
  opacity: 0.7;
}

.filter {
  width: 100%;
  min-width: 580px;
  overflow-x: auto;
  white-space: nowrap;

  /* Hide scrollbar for all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.filter::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.filter-button {
  font-family: Rogan-Bold, "Times New Roman", Times, serif, sans-serif;
  background-color: transparent;
  border: 2px solid #003366;
  border-radius: 5px;
  box-sizing: border-box;
  color: #003366;
  cursor: pointer;
  display: inline-block;
  font-size: medium;
  font-weight: normal;
  line-height: normal;
  margin: 3px;
  min-width: 0;
  outline: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.filter-button:disabled {
  pointer-events: none;
}

.filter-button:hover {
  color: #fff;
  background-color: #003366;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.filter-button:active {
  box-shadow: none;
  transform: translateY(0);
}
.filter-button.active {
  background-color: #003366; /* Same as your hover color */
  color: #fff; /* White text for visibility */
}

.info-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 0px solid #003366;
  border-radius: 5px;
  background-color: #f3f3f3;
  margin: 20% auto;
  padding: 20px;
  width: 80%;
  overflow: auto;
}

.close {
  padding-bottom: 8px;
  background-color: #ff0019;
  opacity: 0.5;
  color: #dddddd;
  border: 1 solid #666;
  border-radius: 5px;
  height: 20px;
  width: 29px;
  text-align: center;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.drug-image {
  width: 200px;
  height: 100px;
  cursor: pointer;
  margin-top: 10px;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 4px solid #003366;
  border-radius: 5px;
}

.drug-image-container {
  display: inline-block;
  position: relative;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.8);
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none;
}

.fullscreen-overlay.active {
  display: block;
}

.comp-text {
  opacity: 0.8;
  font-size: small;
  padding: 20px;
}

.fluid {
  padding: 3px;
  padding-top: 12px;
  margin: 3px;
  margin-left: 0px;
  opacity: 0.8;
  color: #f3f3f3;
  border: 1 solid #666;
  border-radius: 5px;
  height: 35px;
  width: 45px;
  text-align: center;
  float: left;
  font-size: 17px;
  font-weight: bold;
}

.comp-warning {
  margin-left: 20px;
  padding-top: 30px;
  font-size: small;
  color: maroon;
}

.fluid-info {
  margin: 20px;
  margin-top: 50px;
  text-align: left;
  font-size: 12px;
  opacity: 0.8;
}

.modal-name {
  margin-bottom: 1px;
  font-size: xx-large;
}

.modal-trade-name {
  margin-left: 1px;
  margin-top: 1px;
  font-size: large;
  font-family: Rogan, "Times New Roman", Times, serif, sans-serif;
  font-weight: lighter;
}

.modal-route {
  font-size: larger;
  color: #666866;
}

.modal-status {
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  font-size: large;
  font: bold;
  color: whitesmoke;
  width: max-content;
  opacity: 0.5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.other-text {
  font-size: small;
  background-color: transparent;
  border: 1px solid var(--available-color);
  border-radius: 5px;
  margin-top: 3px;
  padding: 3px;
  color: var(--available-color);
  opacity: 0.5;
  width: max-content;
}

.form-icon {
  opacity: 0.7;
  width: 25px;
  height: 25px;
  margin-right: 3px;
}
