@font-face {
  font-family: Rogan;
  src: url(Rogan-Regular.otf);
}
@font-face {
  font-family: Rogan-Bold;
  src: url(Rogan-Bold.otf);
}

body {
  font-family: Rogan, "Times New Roman", Times, serif, sans-serif;
}
.drug-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 580px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.drug-table thead tr {
  background-color: #003366;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.drug-table th,
.drug-table td {
  padding: 12px 15px;
}

.drug-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.drug-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.drug-table tbody tr:last-of-type {
  border-bottom: 2px solid #003366;
}

.drug-table tbody tr.active-row {
  /* TODO: Use later when other functionality is added. */
  font-weight: bold;
  color: 009879;
}
.status-available {
  background-color: #d4edda;
  color: #155724;
}
.status-unavailable {
  background-color: #f8d7da;
  color: #721c24;
}
.card-body {
  color: #003366;
  width: max-content;
}
.form-control {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 2px solid #003366;
  border-radius: 5px;
  height: 35px;
  width: 580px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rogan, "Times New Roman", Times, serif;
  font-size: 12pt;
}

.drug-name {
  font-family: Rogan-Bold, "Times New Roman", Times, serif, sans-serif;
  font-weight: bolder;
}
.title-text {
  margin-bottom: 5px;
}
